/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
composer.lock
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.env.save
storage/app/public/llms.txt

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore the virtual environment directory
venv/
app/Script/analytics-key.json
app/Script/horeca-464007-8c1c2e126143.json
storage/api-docs/api-docs.json
app/Script/the-horecastore-usa-478610-d9b99c2833ec.json
